<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/header.css">
</head>
<body>

<div class="navbar">
  <a href="#" class="icon"><font color="#2e3141" size="3"><i class="fa fa-google-wallet" style="color:white;font-size:40px;margin-top: 3px;"></i></font></a>
  <h1 style="color:white">Work Flow Management System</h1>
  <div class="search-container">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit" class="search"><i class="fa fa-search"></i></button>
      <button ><a href="LogOut">LogOut&nbsp;&nbsp;<i class="fa fa-sign-out"></i></a></button>
  </div>
</div>
<br>
<div class="tab">
  <h4>ABOUT</h4>
  <a href="/AdminProfile"><button class="tablinks" id="defaultOpen"><i class="fa fa-user-circle" style="font-size:20px;"></i>&nbsp;&nbsp;&nbsp;&nbsp;Profile</button></a>
  <h4>DASHBOARD</h4>
  <a href="/AdminProject"><button class="tablinks"><i class="fa fa-envelope" style="font-size:20px;"></i>&nbsp;&nbsp;&nbsp;&nbsp;Project</button></a>
  <a href="/AdminWorkflow"><button class="tablinks"><i class="fa fa-pencil-square-o" style="font-size:20px;"></i>&nbsp;&nbsp;&nbsp;&nbsp;Workspace</button></a>
  <a href="/Employees"><button class="tablinks"><i class="fa fa-book" style="font-size:20px;"></i>&nbsp;&nbsp;&nbsp;&nbsp;Employees</button></a>
  <h4>MORE</h4>
  <a href="/AdminHelp"><button class="tablinks"><i class="fa fa-question-circle-o" style="font-size:20px;"></i>&nbsp;&nbsp;&nbsp;&nbsp;Help</button></a>
  <a href="/AdminRegistration"><button class="tablinks"><i class="fa fa-gear" style="font-size:20px";></i>&nbsp;&nbsp;&nbsp;&nbsp;Settings</button></a>
</div>
</body>
</html>
