<%-	include('partials/header2.ejs') %>
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		.skills{
			margin-left: 15%;
			margin-top: 6%;
		}
		.lb{
			padding-left: 3%;
		}
		.display{
			padding-bottom: 10px;
		}
		th{
			border-bottom:1px solid grey;
		}
		h3{
			text-align: center;
			padding-bottom: 20px;
		}
		.display button{
			margin-left: 25px;
		}
	</style>
</head>
<body>
	<div class="skills">
		<div class="display">
			<h3>PROJECT</h3>
		<label class="lb">HTML&CSS :</label>
<select>
	<option value="25">Novice</option>
	<option value="50">Beginner</option>
	<option value="75">Proficient</option>
	<option value="100">Expert</option>
</select>
<label class="lb">JAVASCRIPT :</label>
<select>
	<option value="25">Novice</option>
	<option value="50">Beginner</option>
	<option value="75">Proficient</option>
	<option value="100">Expert</option>
</select>
	<label class="lb">PYTHON :</label>
<select>
	<option value="25">Novice</option>
	<option value="50">Beginner</option>
	<option value="75">Proficient</option>
	<option value="100">Expert</option>
</select>
<label class="lb">JAVA PROG :</label>
<select>
	<option value="25">Novice</option>
	<option value="50">Beginner</option>
	<option value="75">Proficient</option>
	<option value="100">Expert</option>
</select>
<button>Search</button>
</div>
<div class="container">
	<table cellpadding="35px">
		<tr>
		<th>NAME</th>
		<th>HTML&CSS</th>
		<th>JAVACSRIPT</th>
		<th>PYTHON</th>
		<th>JAVA</th>
		<th>Status</th>
		<th>File</th>
		<th>Assign</th>
		</tr>
	</table>
</div>
</div>
</body>
</html>
