<html>
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/contact.css">
<title>
Contact Page
</title>
</head>
<body>
	<h2 style="margin-left: 200px; margin-top: 50px;">GET IN TOUCH</h2>
	<hr>
							<form method="post" action="#">
								<div class="fields">
									<div class="field">
										<label for="name">Name</label></br>
										<input type="text" name="name" id="name" />
									</div>
									<div class="field">
										<label for="email">Email</label></br>
										<input type="email" name="email" id="email" />
									</div>
									<div class="field">
										<label for="message">Message</label></br>
										<textarea name="message" id="message" rows="8" style="width:350px;opacity: 0.4;"></textarea>
									</div>
								</div>
								<ul>
										<button>Send Message</button>
								</ul>
							</form>
							<br>
							
							<div>
							<pre>
								<h3 class="fa solid fa-home">&nbsp;&nbsp;&nbsp;NallaMallaReddyEngineeringCollege.edu </br></br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DivyaNagar,Narapally</br> </br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hyderabad, TN 500-032 </br`></h3>
								<h3 class="fa solid fa-phone">&nbsp;&nbsp;&nbsp;(040) 000-0000</h3>
								<h3 class="fa solid fa-envelope">&nbsp;&nbsp;&nbsp;<a href="#">information@nmrec.edu</a></h3>
								<h3 class="fa brands fa-twitter">&nbsp;&nbsp;&nbsp;<a href="#">twitter.com/nmrec.edu</a></h3>
								<h3 class="fa brands fa-facebook-f">&nbsp;&nbsp;&nbsp;<a href="#">facebook.com/nmrec.edu</a></h3>
								<h3 class="fa brands fa-instagram">&nbsp;&nbsp;&nbsp;<a href="#">instagram.com/nmrec.edu</a></h3>
							</pre>
							<br>
							<hr>
							<ul style="margin-left: 200px;position: relative;">
								<p><span>&copy;</span> NMREC.edu&nbsp;&nbsp;|&nbsp;&nbsp;License : General Public Licensed&nbsp;&nbsp;|&nbsp;&nbsp;Design: <a href="https://code.swecha.org/users/sign_in">Learn More.</a></p>
							</ul>
						</div>
</body>
</html>