<!DOCTYPE html>
<html>
<head>
	<title>Help</title>
	<style type="text/css">
		body{
			  background-image:url("../images/background.jpg");
 			  background-size: cover; 
		}
		.help{
			margin-left: 5%;
			margin-right:5%;
			text-align:justify;
			line-height: 20px;

		}
		.para{
			line-height: 25px;
		}
	</style>
</head>
<body>
<div class="help">
<center><h2><u>HELP</u></h2></center>
<p class="para">It is a open source website.It makes easier to complete the assigned work.Editing files and adding issues make the task easier to complete.The assigning of tasks will be done according to the skill levels.</p>
<p><h4>Can we add a new file?</h4></p>
<p><li>yes, we can add a new file in the workspace by add option over the navbar.</li></p>
<p></p>
<p><li>yes we can.This can be done by moving to settings in the menu page and reset the password by confirming a hint given to it.</li></p>
<p><b>How to edit a file?</b></p>
<p><li>Go to the file in the top right corner the Edit option is located in the nav bar , press edit . then you can edit a file.</li></p>
<p><b>About our website?</b></p>
<p><li>You can check any information from home page.</li></p>
<p><b>If any information regarding about our website that is what information we take,data..?</b></P>
<p><li>we clearly described terms and conditions you can check it throughly before using our website.</li></P>
<p><b>How can i solve  when i need any help?</b></p>
<p><li>you can check it at contact page and can clearly describes your problem.</li></p>
<p><b>can we edit our profile?</b></p>
<p><li>yes,you can edit your profile by moving onto settings section .</li></p>
<p><b>can we assign our works to group members?</b></p>
<p><li>yes,we can assign and share our work with the other employees .TO provide more flexibity while working with the team.</li></p>
<p><li>Troubleshooting browser issues with WFMS.</li></p>
<p class="para">
The browser is what you use to access WFMS on your Mac or PC (and maybe your phone). This includes Edge, Chrome, Firefox, and Safari. Because all browsers are different, sometimes you might experience quirks in work flow management system because of the browser you are using. This article will help you troubleshoot those quirks.

First, make sure you are using one of our supported browsers. We can't support every version of every browser, so it helps to make sure you're using one that's supported and tested by us.</p>
<br>
</div>
</body>
</html>