<%- include('partials/header.ejs') %>
<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  <style type="text/css">
    .row{
      margin-left: 15%;
      margin-top: 5%;
      display: grid;
      grid-template-columns: auto auto auto;
      text-align: center;
      border-radius: 10px;
    }
    .row div{
      border-left: 1px solid grey;
      height: 550px;
    }
  </style>
</head>
<body>
  <div class="row">
    <div class="cloumn1">
      <h3>WORK TO DO</h3>
      <hr>
    </div>
    <div class="column2">
      <h3>WORK DOING</h3>
      <hr>
    </div>
    <div class="column3">
      <h3>WORK DONE</h3><hr>
    </div>
  </div>
</body>
</html>
