<%- include partials/header.ejs %>
<html>
<head>
  <title>User Profile</title>
  <link rel="stylesheet" type="text/css" href="../stylesheets/reg.css">
</head>
<body>
  <form action="/Registration" method="POST">
  <div class="row">
    <div class="column">
      <img src="images/team.jpg" width="250px" height="250px" alt="images/team.jp"><br>
    <label>Employee Name :&nbsp;</label><input type="text" name="ename" required="true"><br>
    <label>Email-Id &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;</label><input type="text" name="email" required="true"><br>
    <label>Designation &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;</label><input type="text" name="desgn" required="true" ><br>
    <label>Contact no. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;</label><input type="text" name="contact" required="true"><br>
    <input type="submit" value="submit">
    </div>
    <div class="column1">
      <h3>Educational Skills : </h3><br>
      <center>
      <label>HTML & CSS :</label>
      <select>
        <option default="true" value="Novice">Novice</option>
        <option value="Beginner">Beginner</option>
        <option value="Proficient">Proficient</option>
        <option value="Expert">Expert</option>
      </select><br>
      <label>JAVASCRIPT &nbsp;:</label>
      <select>
        <option default="true" value="Novice">Novice</option>
        <option value="Beginner">Beginner</option>
        <option value="Proficient">Proficient</option>
        <option value="Expert">Expert</option>
      </select><br>
      <label>PYTHON &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</label>
      <select>
        <option default="true" value="Novice">Novice</option>
        <option value="Beginner">Beginner</option>
        <option value="Proficient">Proficient</option>
        <option value="Expert">Expert</option>
      </select><br>
      <label>JAVA &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</label>
      <select>
        <option default="true" value="Novice">Novice</option>
        <option value="Beginner">Beginner</option>
        <option value="Proficient">Proficient</option>
        <option value="Expert" >Expert</option>
      </select>
      </center>
      <h3>Description :</h3>
      <center>
      <textarea name="desc" rows="8" style="width: 400px;opacity: 0.5"></textarea>
      </center>
    </div>
  </div>
</form>
</body>
</html>